# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data files
# =========================
data/raw/

# =========================
# Models
# =========================
model/
*.joblib
*.pkl

# =========================
# Conda / Environment
# =========================
.env
*.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
